.grid {
  &-1 {
    width: 11.1% !important;
  }

  &-2 {
    width: 22.2% !important;
  }

  &-3 {
    width: 33.33% !important;
  }

  &-4 {
    width: 44.4% !important;
  }

  &-5 {
    width: 55.5% !important;
  }

  &-6 {
    width: 66.6% !important;
  }

  &-7 {
    width: 77.7% !important;
  }

  &-8 {
    width: 88.8% !important;
  }

  &-9 {
    width: 99.9% !important;
  }

  &-10 {
    width: 100% !important;
  }

  &-half {
    width: 50% !important;
  }
}