@import "carousel";

$page_width: 850px;

.page {
  box-sizing: border-box;
  width: 100%;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  &__title {
    font-family: 'RobotoBold', Sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
    color: #40403f;
  }

  &__data {
    width: 100%;
  }
}

.pps {
  width: 70%;
  //margin-top: 40px;
  .tabs__tab {
    padding: 0;
    display: none;

    &.show {
      display: block;
      border-bottom: 1px solid #BDBDBD;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__top {
    box-sizing: border-box;
    background: #ececec;
    padding: 15px 25px;
    font-size: 14px;
    color: #575756;
    height: 70px;
    overflow: hidden;

    & ul {
      border: 0;

      li {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
      }
    }
  }

  &__address {
    display: flex;
    font-size: 15px;
    user-select: none;
    margin: 0 0 10px 0;
    height: 200px;

    &-left {
      overflow: hidden;
      flex: 0 1 320px;
      cursor: pointer;
      position: relative;

      & img {
        width: 320px;
        height: 200px;
      }

      & .countImg {
        position: absolute;
        bottom: 7px;
        right: 9px;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
        padding: 1px 8px 0 8px;
        background: #129A48;
        border-radius: 8px;
      }
    }

    &-center {
      border-top: 0;
      flex: 0 2 300px;
      margin: 0 10px;
      padding: 10px 0 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-family: 'Tahoma', sans-serif;

      & .top {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
      }

      & .middle {
        font-size: 12px;
        font-weight: normal;
        color: #898989;
        line-height: 20px;

        & .gray {
          font-weight: bold;
          color: #333333;
        }
      }

      .comfort {
        &__item {
          margin-right: 10px;
        }
      }

      .button {
        height: 30px;
        position: relative;
        top: -6px;
        left: 3px;
      }
    }
  }

  &__map {
    margin-left: auto;
    overflow: hidden;
    width: 469px;
    height: 200px;
    cursor: pointer;
    border: 2px solid #129A48;
    border-left: 3px solid #129A48;

    & img {
      width: 100%;
    }

    & iframe {
      width: 100%;
    }
  }

  #splash {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    &.active {
      display: none;
    }
  }
}

.popup {
  position: fixed;
  top: 600px;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9001;
  background: #fff;
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  box-sizing: border-box;
  width: 850px;
  max-height: 80vh;

  iframe {
    width: 100%;
    height: 500px;
  }

  .close {
    position: absolute;
    right: -40px;
    top: -40px;

    &:hover {
      cursor: pointer;
    }
  }
}