.weather {
  &__item {
    display: inline-block;
    float: left;

    &__img {
      float: left;
    }

    &__value {
      white-space: nowrap;
      margin-right: 40px;
    }
  }

  & img {
    width : 15px;
    height: 15px;
    margin-right: 10px;
  }
}
